DataReef.Integrations.Agemni/Service References/DirecTVAutomation/DtvAutomationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1494/DtvAutomationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DtvAutomation.DataContracts" />
  <xs:element name="PlaceSalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DtvAutomation.DataContracts" minOccurs="0" name="order" nillable="true" type="q1:SalesOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceSalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DtvAutomation.DataContracts" minOccurs="0" name="PlaceSalesOrderResult" nillable="true" type="q2:PlaceSalesOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>