DataReef.Integrations.RedBell/Service References/RedBellBeta/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.redbellre.com/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://schemas.redbellre.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="OrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.redbellre.com/services/Imports">
      <xsd:import schemaLocation="http://63.226.118.199/orders/OrderService.svc?xsd=xsd0" namespace="http://schemas.redbellre.com/services" />
      <xsd:import schemaLocation="http://63.226.118.199/orders/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UploadSync_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSync" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UploadSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://schemas.redbellre.com/services/IOrderService/Upload" message="tns:IOrderService_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.redbellre.com/services/IOrderService/UploadResponse" message="tns:IOrderService_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSync">
      <wsdl:input wsaw:Action="http://schemas.redbellre.com/services/IOrderService/UploadSync" message="tns:IOrderService_UploadSync_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.redbellre.com/services/IOrderService/UploadSyncResponse" message="tns:IOrderService_UploadSync_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderService" type="tns:IOrderService">
    <wsp:PolicyReference URI="#OrderService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://schemas.redbellre.com/services/IOrderService/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSync">
      <soap:operation soapAction="http://schemas.redbellre.com/services/IOrderService/UploadSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderService" binding="tns:OrderService">
      <soap:address location="https://beta.redbellre.com/orders/orderservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>